@RtConfig set cisco_map_name = "AS%d-IN-%d"
@RtConfig import AS1 10.0.0.1 AS2 10.0.0.2
@RtConfig import AS1 10.0.0.1 AS3 10.0.0.3
@RtConfig import AS1 10.0.0.1 AS4 10.0.0.4
@RtConfig import AS1 10.0.0.1 AS5 10.0.0.5
